# Python
*.py[cod]

# Junk
.DS_Store
*.swp
*.tmp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Project-specific
editor-env/*
editor/config/general.py
editor/config/email.py
